<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>{% block title %}Цистерни.ua-головна{% endblock %}</title>
    <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ asset('scripts/jquery-2.2.0.js') }}"></script>
	<script type="text/javascript" src="{{ asset('scripts/script.js') }}"></script>
	<link rel="shortcut icon" href="{{ asset('images/logo2.ico') }}" />
</head>
<body>
	<div id='header_'>
	  <a href="{{path('acme_tanks_homepage')}}">
	    <img alt src="{{ asset('images/back.png') }}" width="100%" height="250">
      </a>
	</div>
	{% include  'AcmeTanksBundle::menu.html.twig'%}
	{%block user_form %} {% endblock%}	
	<div id='theme_'>
	  {% block theme %}
        <div class='base-blocks' style='background:#fa0'>
		  <div><h1>Вітаємо на сайті Цистерни.ua</h1>
		  <font color='#111' size='5' face="verdana">
		    тут ви зможете дізнатись остані новини від картошкі,
		    <br>обговороити з друзями подробицы гри,
			<br>а також переглянути характеристики танків
		  </font>			  
		</div>
		</div>
		<h1>новини</h1>
		<div id='news'></div>
		<script type="text/javascript">
		    $('#news').load('news.html .b-imgblock')
		</script>
      {% endblock %}
	</div>
</body>
</html>