<div id='menu_'>
	<div style='float:left;'>
		<a id='logo' href="{{path('acme_tanks_homepage')}}" >
			<img class='img_repl' name='logoimg' src="{{ asset('images/logo.png')}}" alt="{{ asset('images/logo2.png')}}" width='202'>
		</a>
	</div>
	<a href="{{path('acme_tanks_premium')}}">{% trans %}преміум магазин{% endtrans %}</a>&nbsp
	<a id='tank_a' href="{{path('acme_tanks_review',{'type':'all'})}}" onmouseover='openmenu(2)'>{% trans %}огляд танків{% endtrans %}</a>&nbsp 
	<a href="{{path('acme_tanks_forum')}}">{% trans %}форум{% endtrans %}</a>&nbsp
	<a href="{{path('acme_tanks_study')}}">{% trans %}полігон{% endtrans %}</a>
	<div id='menu_list' onmouseover='openmenu(2)' onmouseout='closemenu(2)'>
		<br><br><br><br><br>
		<a href="{{path('acme_tanks_review',{'type':'TT'})}}" onmouseover='openmenu(2)' onmouseout='closemenu(2)'>{% trans %}важкі танки{% endtrans %}</a><br>	
		<a href="{{path('acme_tanks_review',{'type':'ST'})}}" onmouseover='openmenu(2)' onmouseout='closemenu(2)'>{% trans %}середні танки{% endtrans %}</a><br>	
		<a href="{{path('acme_tanks_review',{'type':'LT'})}}" onmouseover='openmenu(2)' onmouseout='closemenu(2)'>{% trans %}легкі танки{% endtrans %}</a><br>	
		<a href="{{path('acme_tanks_review',{'type':'PT'})}}" onmouseover='openmenu(2)' onmouseout='closemenu(2)'>{% trans %}пт-сау{% endtrans %}</a><br>	
		<a href="{{path('acme_tanks_review',{'type':'SAU'})}}" onmouseover='openmenu(2)' onmouseout='closemenu(2)'>{% trans %}сау{% endtrans %}</a><br>	
	</div>
	{% include  'AcmeTanksBundle::enter_form.html.twig'%}
</div>	
