{%if pages>1 %}

<div id = 'pager' url='{{url_}}' block='{{block_}}'>
	{% if page!=1%}
		<div class='page' onclick='pageChange.call(this)'>1</div>
	{% endif %}
	{% if page-2>1 %}
		...
	{%endif%}
	{% if page-1>1 %}

		<div class='page' onclick='pageChange.call(this)'>{{page-1}}</div>
	{%endif%}
	<div class='this_page' onclick='pageChange.call(this)'>{{page}}</div>
	{% if page+1<pages %}
		<div class='page' onclick='pageChange.call(this)'>{{page+1}}</div>
	{%endif%}
	{% if page+2<pages %}
		...
	{%endif%}
	{% if page!=pages %} 
		<div class='page' onclick='pageChange.call(this)'>{{pages}}</div>
	{%endif %}
</div>	
{%endif%}	