{% extends 'AcmeTanksBundle::base.html.twig' %}
{%block title%}
		Преміум магазин
{%endblock %}	
{%block theme%}
		<div id='zoom'><img width=100% src='{{ asset('images/zoom.png') }}'/></div>
		<b>КУРС ВАЛЮТ</b><br>
		{%for data in data%}
			{{data.ccy}} : купівля {{data.buy}} продаж {{data.sale}}<br>
		{%endfor%}
		<br><br>
		<img zoomable src = '{{ asset('images/amx 50b.jpg') }}' width='100px'/>
		<div id='zoom-view'><div>

{%endblock%}	
	
