{% extends 'AcmeTanksBundle::base.html.twig' %}
{%block title%}
		{%trans%}преміум магазин{%endtrans%}
{%endblock %}	
{%block theme%}
		<div id='zoom'><img width=100% src='{{ asset('images/zoom.png') }}'/></div>
		<b>{%trans%}КУРС ВАЛЮТ{%endtrans%}</b><br>
		{%for data in data%}
			{{data.ccy}} : {%trans%}купівля{%endtrans%} {{data.buy}} {%trans%}продаж{%endtrans%} {{data.sale}}<br>
		{%endfor%}
		<br><br>
		<img zoomable src = '{{ asset('images/amx 50b.jpg') }}' width='100px'/>
		<div id='zoom-view'><div>

{%endblock%}	
	
